@import "../../../../variables.scss";

.scroll-list {
    overflow-x: hidden;
    overflow-y: scroll;

    .scroll-list-item {
        padding: .5em;
        display: flex;
        justify-content: left;
        align-items: center;
        height: 2.5rem;

        img {
            height: 2.5rem;
            width: 2.5rem;
        }

        .text {
            color: $color-grey-darkest;
            margin: 0 1rem;;

            &.main-text {
                font-weight: 500;
            }

            &.subtitle-text {
                font-weight: 300;
            }
        }

        .list-item-icon {
            display: flex;
            align-items: center;
        }
    }

    .scroll-list-item:hover {
        cursor: pointer;
      }
}