@import "../../../../variables.scss";

.container {
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 20rem;
  height: 100%;

  // .content {
  //   display: flex;
  //   flex-direction: column;
  //   flex: 1;
  //   align-items: center;
  //   position: -webkit-sticky; /* for Safari */
  //   position: sticky;
  //   top: 40vh;
  //   align-self: flex-start;

    .playback-controls {
        display: flex;
        justify-content: center;
        button {
            // flex: 1 1 auto;
            margin: .2rem;
        }
    }
  // }


  .playback-track-info {
    .text {
      color: $color-grey-darkest;
      margin: 0;
  
      &.main-text {
        font-weight: 500;
      }
  
      &.subtitle-text {
        font-weight: 300;
      }
    }
  }
  
}