<div class="playlist-section">
  <div class="playlist-subsection" >
    <app-scroll-list 
      *ngIf="!(playlistsFacade.isLoading$ | async); else loadingSpinner"
      [listItems$]="playlistListItems$"
      [widthRem]="18"
      [heightRem]="15"
      [itemIdToHighlight]="playlistsFacade.selectedPlaylistId$ | async"
      (listItemClickEvent)="selectPlaylist($event)"
    ></app-scroll-list>
  </div>
  <div
    class="playlist-subsection playlist-info"
    *ngIf="selectedPlaylist; else selectAPlaylistPrompt"
  >
    <!-- <img class="album-cover" src="{{ selectedPlaylist.imageUrl }}" /> -->
    <div class="text-wrapper">
      <p class="text main-text">{{ selectedPlaylist.name }}</p>
      <p class="text subtitle-text">
        {{ selectedPlaylist.owner.id }}
      </p>
     
    </div>
    <div class="playlist-tracks">
      <div class="playlist-add-tracks-container" *ngIf="{isAddState: playlistsFacade.isAddState$ | async} as context">
          <mat-slide-toggle (change)="handleIsAddStateChange($event)" [checked]="context.isAddState"
        >Add tracks to playlist</mat-slide-toggle
      >
      <button mat-button (click)="playlistsFacade.addTracksToPlaylist()" [disabled]="!context.isAddState">
        <mat-icon>add</mat-icon> Add selected tracks
      </button></div>
      <app-scroll-list
        [listItems$]="playlistTrackListItems$"
        [heightRem]="15"
        [displayImage]="true"
      >
        <!-- <app-scroll-list
    [listItems$]="playlistTrackListItems$"
    [heightRem]="15"
    [enableDelete]="true"
    (listItemDeleteEvent)="handleDeleteTrackFromPlaylist($event)"
  > -->
      </app-scroll-list>
    </div>
  </div>
  <ng-template #selectAPlaylistPrompt>
    <div class="playlist-subsection playlist-info">
      <div class="text-wrapper">
        <p class="text main-text">No playlist selected</p>
        <p class="text subtitle-text">
          Select a playlist from the left to begin
        </p>
      </div>
    </div>
  </ng-template>
</div>

<ng-template #loadingSpinner><div class="playlist-loading-spinner"><mat-spinner color="warn"></mat-spinner></div></ng-template>