@import "../../../../variables.scss";

.track-display-controls,
.track-browsing-options {
  margin: 1em;
  padding: .5em 0;

  .slider {
    width: 85%;
  }

  .track-info {
    width: 90%;
  }

  .text {
    color: $color-grey-darkest;
    padding: 0 1em;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
  
    &.main-text {
      font-weight: 500;
      margin-bottom: 0.5em;
    }
  
    &.subtitle-text {
      font-weight: 300;
    }
  
    &.centered-icon {
      scale: (2);
    }
  }
}


