/* HEX COLOR VARIABLES */
$color-tiffany-blue: #9ad2cbff;
$color-tea-green: #d7ebbaff;
$color-cream: #feffbeff;
$color-vanilla: #ebd494ff;
$color-eggplant: #472836ff;

$color-green-lightest: #d7ebba;
$color-green-lighter: #c6e29c;
$color-green-light: #b2d879;

$color-grey-primary: #9e9e9e;
$color-grey-darker: #616161;
$color-grey-darkest: #424242;


$color-white: #ffffff;