/* HEX VARIABLES */
$tiffany-blue: #9ad2cbff;
$tea-green: #d7ebbaff;
$cream: #feffbeff;
$vanilla: #ebd494ff;
$eggplant: #472836ff;

$green-lightest: #d7ebba;
$green-lighter: #c6e29c;
$green-light: #b2d879;